name: Tag-Release

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.19"

    - name: Install hatch
      run: |
        python -m pip install --upgrade pip
        pip install hatch

    - name: Ruff Lint
      run: hatch fmt

    - name: Run tests
      run: hatch test

    - name: build
      run: hatch build

    - name: Publish Pypi
      run: uv publish --trusted-publishing always